@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url("~/assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url("~/assets/fonts/Gilroy-Bold.ttf");
}
